*{
    margin: 0;
    padding: 0;
}
/* Font CSS */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-header {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Footer section Design */
.newslatter{
  background-image: url(../assets/news-letter-bg.png);
  /* border: 2px solid black; */
  height: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 0;
}